<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link href="{{ '/assets/css/nostalgic-input.css' | url }}" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body class="nostalgic">
    {{ content }}
    <script src="{{ '/assets/js/script.js' | url }}"></script>
</body>
</html>
