---
layout: tailwind.liquid
title: Tristan Lee
---

<div data-nosnippet>
<header class="text-3xl font-bold mb-4 block">
	<span id ="text"></span><span class="caret"></span>
</header>

<hr class="border-black dark:border-white mb-6">

<p class="text-base mb-4">
	Tristan here, welcome to my website with a focus on simplicity, clarity and frugality.
</p>
<p class="text-base mb-4">
	My philosophy is about keeping things simple, minimal and usable. I believe this should become the mainstream philosophy in the IT sector. Unfortunately, the tendency for complex, error-prone and slow software seems to be prevalent in the present-day software industry.
</p>

<a href="{{ '/home/' | url }}">
	<img src="{{ '/assets/images/sky.jpg' | url }}" 
		 alt="Sky" 
		 class="home-thumb-full">
</a>

<hr class="border-black dark:border-white mb-6">

<h2 class="text-lg font-bold mb-4">
	diaries 日记
</h2>

<div class="diary-links font-mono flex flex-wrap gap-6 mb-6 text-base">
	{% for dailyEntries in diary %}
		<button class="hover:underline" onclick="openDiary('{{ yearData.year }}');">
			{{ dailyEntries.year }}/
		</button>
	{% endfor %}
</div>

{% for dailyEntries in diary %}
	<div id="diary-{{ yearData.year }}" class="hidden">
		<div class="justify-between flex mb-4 font-mono text-base">
			<span>
				{{ year }}/
			</span>
			<button class ="hover:text-gray-500 transition-transform duration-200 hover:-translate-y-[3px]" onclick="closeDiary();">
				../
			</button>
		</div>
		{% for entry in dailyEntries.entries %}
			<div class="mb-4 font-mono text-sm">
				<span class="text-gray-500">{{ entry.date }}</span>
				{% for paragraph in entry.text %}
					<br>
					<p>
						{{ paragraph }}
					</p>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endfor %}

<script>
	function openDiary(year)
	{
		document.getElementById('diary-' + year).classList.remove('hidden');
		document.querySelector('.diary-links').classList.add('hidden');
	}

	function closeDiary()
	{
		document.querySelectorAll('[id^="diary-"]').forEach(el => el.classList.add('hidden'));
		document.querySelector('.diary-links').classList.remove('hidden');
	}
</script>

<hr class="border-black dark:border-white mb-6">
</div>

