
.home {
    min-height: 100vh;
    background-image: url('images/sky1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navicons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 12px auto 0;
    border-bottom: #00303b 3px dotted;
    width: 250px;
    max-width: 100%;
    height: 60px;
    user-select: none;
    white-space: nowrap;
}

.icons a {
    text-decoration: none;
    color: #000000;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons img {
    width: 40px;
    height: 40px;
    mix-blend-mode: multiply;
    filter: brightness(1.5);
}

header {
    margin: 0 auto;
    width: 320px;
    max-width: 100%;
}

header h1 {
    margin: 0;
    font-style: italic;
    font-size: 69px;
    text-align: center;
    color: #000000;
}
